<!-- <p>user-chat works!</p> -->

<div class="chat-container">

    <ul class="chat-list">
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
        <li class="chat-item">
            <span>
                Mark Mitchell
            </span>
        </li>
    </ul>

</div>