<!-- <p>user-chat works!</p> -->

<div class="chat-container">

    <ul class="chat-list">
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
        <li class="chat-item">
            <div class="user-avatar">
                <img src="../../../assets/img/avatar/male-13.jpg" alt="">
            </div>
            <div class="middle-content">
                <div class="username">
                    Mark Mitchell
                </div>
                <div class="user-message">
                    New message from your friend
                </div>
            </div>
        </li>
    </ul>

</div>