.poitner {
    cursor: pointer;
}

// @media screen and (min-width: 600) {
.main-container {
    display   : flex;
    height    : 100%;
    width     : 100%;
    overflow-y: hidden !important;
}

.nav {
    width                : 80px;
    height               : 100%;
    background           : #171821;
    display              : flex;
    flex-direction       : column;
    justify-content      : center;
    // align-items    : center;
    box-sizing           : border-box;
    position             : relative;
    // border-right      : 2px solid #8f67fd35;
    border-right         : 2px solid rgba(221, 221, 221, 0.121);

    .brand-logo {
        position     : absolute;
        top          : 15px;
        left         : 50%;
        transform    : translateX(-50%);
        padding      : 6px;
        border       : 2px solid #8080806d;
        border-radius: 50%;
    }

    .nav-list {
        display        : flex;
        flex-direction : column;
        justify-content: space-between;
        align-items    : center;
        width          : 100%;
        height         : 30%;

        .nav-item {
            // ? If navigation manu has 6 item than margin will be .5rem 0 otherwise .7rem 0;
            // ? Navigation list has 4 items so margin will be 1rem 0;
            margin                   : 1rem 0;
            // background         : linear-gradient(90deg rebeccapurple 0%, #171821 35%, rgb(255, 255, 255) 100%);
            background               : linear-gradient(90deg, #8f67fd1d 5%, #171821 80%);
            // border       : 2px solid gray;
            // border-radius   : 50%;
            padding                  : 1.2rem;
            width                    : 100%;
            border-left              : 3px solid #8f67fd;
            // ? Or for blue color 
            // border-left           : 3px solid #0067fb;

            .nav-navigation {
                width : 20%;
                height: auto;


                .nav-icon {
                    width : 20px;
                    margin: 0 .2rem;
                }
            }
        }

        .active-item {
            // background : linear-gradient(90deg, #8f67fd1d 5%, #171821 80%);
            // border-left: 3px solid #8f67fd;
        }
    }
}

.left-side {
    display       : flex;
    flex-direction: column;

    .top-header {
        background        : #171821;
        // position  : absolute;
        // top       : 0;
        // left      : 70px;
        height            : 70px !important;
        // width          : 100%;
        // width          : 100%;
        display           : flex;
        justify-content   : space-between;
        align-items       : center;
        width             : calc(100vw - 80px);
        float             : right;
        padding-left      : 2.5rem;
        border-bottom     : 1px solid rgba(221, 221, 221, 0.078);

        .searchbar {
            display: flex;

            img {
                width  : 25px;
                height : 25px;
                opacity: .8;
            }

            .search-input {
                background-color: transparent;
                width           : 250px;
                margin-left     : 1rem;
                height          : 100%;
                margin-top      : .1rem;
                color           : rgba(255, 255, 255, 0.813);

                &:focus,
                &:active {
                    outline: none;
                }
            }
        }
    }

    .router {
        // width       : calc(100% - 70px);
        background     : #171821;
        // padding-left: .3rem;

        // margin-top: 70px;
        width                : 100%;
        height               : 100%;
        overflow-y           : hidden !important;
        display              : flex;
        scroll-behavior      : smooth;
        // scrollbar-width: 0 !important;
        // scrollbar-width   : none !important;


        .user-chat-box {
            width: 100%;

            .chat-header {
                width           : 100%;
                height          : 90px;
                background-color: transparent;
                box-sizing      : border-box;
                border-bottom   : 1px solid #dddddd1f;
                display         : flex;
                align-items     : center;
                justify-content : space-between;
                // margin: 0;

                .chat-header-right {
                    // width: 50%;

                    .chat-header-avatar {
                        width : 50px;
                        height: 50px;

                        img {
                            border-radius: 50%;
                        }
                    }
                }

                .chat-header-left {
                    // width     : 100%;
                    // justify-self: flex-end;
                    // text-align: end;
                }
            }
        }
    }
}

// }

// .main-container {
//     display: none;
// }





// .router {
//     // width       : calc(100% - 70px);
//     background  : #171821;
//     padding-left: .3rem;

//     margin-top: 70px;
//     height    : 100%;
// }


// TODO: Mobile Layout


.mobile-container {
    position     : relative;
    height       : 100%;
    overflow     : hidden !important;
    // height  : 100dvh;
    margin-bottom: 60px;

    display           : grid;
    grid-template-rows: auto 1fr auto;

    .mobile-top-header {
        background     : #171821;
        width          : 100%;
        height         : 60px;
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        border-bottom  : 2px solid #ddddddb0;
        padding        : 0 1rem;
        // position: fixed;
        // top     : 0;
        // right   : 0;
        // left    : 0;

        .brand-logo-mobile {
            width : 30px;
            height: auto;

            img {
                width : 100%;
                height: 100%;
            }
        }

        .header-actions {
            color          : #fff;
            width          : 17%;
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            .search-icon {
                width        : 23px;
                margin-bottom: .2rem;
            }
        }
    }

    .mobile-nav {
        width             : 100%;
        height            : 60px;
        position          : fixed;
        bottom            : 0;
        display           : flex;
        align-items       : center;
        // justify-content: space-around;
        border-top        : 1px solid #dddddd1f;
        overflow-y        : hidden;


        nav {
            width                : 100%;
            // display        : flex;
            // align-items       : center;
            // justify-content   : space-around;

            .nav-list {
                list-style     : none;
                display        : flex;
                justify-content: space-around;
                align-items    : center;

                .nav-item {
                    // border       : 1px solid red;
                    padding         : .7rem;
                    border-radius   : 50%;
                    // background   : linear-gradient(45deg, #8f67fd 1%, #171821 80%);
                    // width : 100%;
                    // height: 40px;

                    .nav-navigation {
                        // width    : 10%;
                        // height   : 10%;
                        // height: auto;

                        .nav-icon {
                            width: 20px;
                        }
                    }
                }

                .active-item {
                    // padding      : .7rem;
                    // border-radius: 50%;
                    background: linear-gradient(33deg, #8f67fdbe 5%, #171821 75%);
                }

            }
        }
    }

    .mobile-router {
        overflow-y     : hidden;
        scrollbar-width: none;
        height         : 100vh;
    }

    .mobile-router::-webkit-scrollbar {
        display: none;
    }
}