<!-- <div class="header">
  <div class="top-navbar">
    <div class="right">

    </div>
    <div class="left">

    </div>
  </div>
</div> -->

<!-- <img src="../assets/chat.png" alt=""> -->
<!-- <div class="top-header">
  <div class="searchbar">
    <img src="../assets/img/search-white.png" alt="">
    <input class="search-input" type="text" placeholder="Search for active people">
  </div>
  <div class="user-actions">

  </div>
</div> -->




<div class="main-container">
  <div class="head">
    <div class="nav">
      <div class="brand-logo poitner">
        <img src="../assets/img/alphabet.png" alt="">
      </div>

      <nav>
        <ul class="nav-list">
          <li class="nav-item" routerLink="/chat" routerLinkActive="active-item">
            <a class="nav-navigation poitner" routerLink="/chat" routerLinkActive="active-item">
              <!-- <img class="nav-icon  " src="../assets/img/message.png" alt=""> -->
              <img class="nav-icon  " src="../assets/img/white-icons/message.png" alt="">
            </a>
          </li>
          <li class="nav-item" routerLink="/group" routerLinkActive="active-item">
            <a class="nav-navigation poitner">
              <!-- <img class="nav-icon  " src="../assets/img/users.png" alt=""> -->
              <img class="nav-icon  " src="../assets/img/white-icons/group.png" alt="">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-navigation poitner">
              <!-- <img class="nav-icon  " src="../assets/img/missed-call.png" alt=""> -->
              <img class="nav-icon  " src="../assets/img/white-icons/call.png" alt="">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-navigation poitner">
              <!-- <img class="nav-icon  " src="../assets/img/settings.png" alt=""> -->
              <img class="nav-icon  " src="../assets/img/white-icons/setting.png" alt="">
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-navigation poitner">
              <img class="nav-icon  " src="../assets/img/user.png" alt="">
            </a>
          </li> -->
        </ul>
      </nav>
    </div>
  </div>

  <div class="left-side">

    <!-- <img src="../assets/chat.png" alt=""> -->
    <div class="top-header">
      <div class="searchbar">
        <img src="../assets/img/search-white.png" alt="">
        <input class="search-input" type="text" placeholder="Search for active people">
      </div>
      <div class="user-actions">

      </div>
    </div>



    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>