<!-- <img src="../assets/chat.png" alt=""> -->
<div class="main-container" *ngIf="width > 600">

  <!-- TODO: *ngIf="!disableSidenav"  after Login or Register logic-->
  <div class="head" *ngIf="!disableSidenav">
    <div class="nav">
      <div class="brand-logo poitner">
        <img src="../assets/img/alphabet.png" alt="">
      </div>

      <nav>
        <ul class="nav-list">
          <li class="nav-item" routerLink="/chat" routerLinkActive="active-item">
            <a class="nav-navigation poitner" routerLink="/chat" routerLinkActive="active-item">
              <img class="nav-icon  " src="../assets/img/white-icons/message.png" alt="">
            </a>
          </li>
          <li class="nav-item" routerLink="/group" routerLinkActive="active-item">
            <a class="nav-navigation poitner">
              <img class="nav-icon  " src="../assets/img/white-icons/group.png" alt="">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-navigation poitner">
              <img class="nav-icon  " src="../assets/img/white-icons/call.png" alt="">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-navigation poitner">
              <img class="nav-icon  " src="../assets/img/white-icons/setting.png" alt="">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="left-side">

    <!-- TODO: *ngIf="!disableHeader"  after Login or Register logic-->
    <div class="top-header" *ngIf="!disableHeader">
      <div class="searchbar">
        <img src="../assets/img/search-white.png" alt="">
        <input class="search-input" type="text" placeholder="Search for active people">
      </div>
      <div class="user-actions">
        <!-- <button mat-mini-fab>
          <mat-icon class="text-white mr-7">person</mat-icon>
        </button> -->

        <img class="mr-6" [matMenuTriggerFor]="menu" src="../assets/img/white-icons/profile-user.png" width="27px"
          height="27px" alt="">

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/login">Login</button>
          <!-- <button mat-menu-item>Item 2</button> -->
        </mat-menu>
      </div>
    </div>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- TODO: Mobile Layout -->
<div class="mobile-container" *ngIf="width < 600">

  <!-- TODO: *ngIf="!disableHeader"  after Login or Register logic-->
  <div class="mobile-top-header" *ngIf="!activeChat">
    <div class="brand-logo-mobile poitner">
      <img src="../assets/img/white-icons/logo-1.png" alt="">
    </div>

    <div class="header-actions pointer">
      <div class="search-icon">
        <img src="../assets/img/search-white.png" alt="">
      </div>
      <div>
        <!-- <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
         -->
        <img class="" [matMenuTriggerFor]="menu" src="../assets/img/white-icons/profile-user.png" width="27px"
          height="27px" alt="">

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/login">Login</button>
          <!-- <button mat-menu-item>Item 2</button> -->
        </mat-menu>
      </div>
    </div>

  </div>

  <div class="mobile-router">
    <router-outlet></router-outlet>
  </div>

  <!-- TODO: *ngIf="!disableSidenav"  after Login or Register logic-->
  <div class="mobile-nav" style="background: #171821;" *ngIf="!disableSidenav">
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-navigation poitner">
            <img class="nav-icon  " src="../assets/img/white-icons/camera.png" alt="">
          </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-navigation poitner">
              <img class="nav-icon  " src="../assets/img/white-icons/setting.png" alt="">
            </a>
          </li> -->
        <li class="nav-item" routerLink="/chat" routerLinkActive="active-item">
          <a class="nav-navigation poitner" routerLink="/chat" routerLinkActive="active-item">
            <img class="nav-icon  " src="../assets/img/white-icons/message.png" alt="">
          </a>
        </li>

        <li class="nav-item" routerLink="/group" routerLinkActive="active-item">
          <a class="nav-navigation poitner">
            <img class="nav-icon  " src="../assets/img/white-icons/group.png" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-navigation poitner">
            <img class="nav-icon  " src="../assets/img/white-icons/call.png" alt="">
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>